
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, p{
    font-family: sans-serif;
    color: white;
}


.navBar{
    display: flex;
    top: 0;
    background: #696969;
    border-radius: 15px;
    position: sticky;
    justify-content: space-between;
}
.links{
    display: flex;
    align-items: center;
}

.links > a{
    font-size: 1.5rem;
    padding: 5%;
    cursor: pointer;
    border-radius: 15px;
    margin: 2% 0 2% 2%;
    justify-content: start;
}

.navBar a:hover{
    background-color: darkgrey;
}

.navBar > img{
    max-width: 50px;
    height: auto;
    border-radius: 100%;
    margin: 1%;
}

.posts{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.post{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #696969;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
}

.post > img{
    margin: 1%;
}

.post p {
    font-size: 1.5rem;
    padding: 1%;
}

.postHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.postHead img{
    max-width: 10%;
    height: auto;
    align-self: start;
    border-radius: 100%;
    margin-top: 1%;
}

.postHead p{
    font-size: 1.2rem;
}

.like{
    cursor: pointer;
    max-width: 10%;
    border-radius: 100%;
}

footer {
    margin-top: 5px;
    border-radius: 10px;
    background-color: #696969;
    width: 100%;
}

footer p{
    font-size: 1.2rem;
}


@media(min-width: 500px){
    .navBar{
        width: 90%;
        margin: 2%;
    }
    .posts{
        width: 60%;
    }

}

@media(max-width: 500px){
    .navBar{
        margin: 0;
        width: 97%;
    }
    .posts{
        width: 90%;
    }
}